:root {
  --text-align: center;
  --background-color: #009688;
  --height: auto;
}

* {
  box-sizing: border-box;
}

header, main, .hero h1, footer {
  max-width: 100rem;
  margin: 0 auto;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: #ffc107;
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: 500;
  font-size: larger;
}

nav a:hover {
  color: #ffc107;
  text-decoration: underline;
  font-weight: 600;
}

footer a:hover {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1.5fr .5fr;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 1rem;
  /* background-color: #009688; */
  background-color: rgba(52, 89, 149, 0.8);

}

.heading h1, .form h2 {
  color: #b4654a;
}

header nav {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 1000px;
}

header img {
  display: flex;
  justify-self: right;
  align-self: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  background-color: rgba(52, 89, 149, 0.8);
  align-items: center;
}

.center-item {
  margin: auto;
}

footer nav {
  display: flex;
  align-self: center;
  justify-content: end;

}

footer nav a {
  align-self: center;
  margin: 0;
  padding: 5px;
}

.hero img {
  position: relative;
  width: 100%;
  display: block;
  height: var(--height);
  border: 1px solid black;
}

.hero h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 80px;
  position: absolute;
  top: 15%;
  width: 100%;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.hero article {
  display: flex;
  font-weight: 400;
  position: absolute;
  text-align: left;
  background-color: rgba(0, 150, 136, 0.8);
  max-width: 900px;
  top: 35%;
  right: 30%;
  padding: 1rem;
}

.hero article img {
  float: right;
  width: 200px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.history {
  border: 1px solid black;
  margin: 20px 0;
  display: grid;
  grid-template: 3rem 1fr / 1fr .5fr 1fr;
  align-items: center;
  /* background-color: rgba(121, 85, 72, 0.8); */
  background-color: rgb(0, 150, 136);
  /* background-color: rgb(139, 195, 74); */
}

.history h2 {
  grid-column: 1/4;
  justify-self: center;
  font-size: 40px;
  padding: 20px 0;
}

.history img {
  justify-self: center;
  width: 100%;
  padding: 0 10px 10px 20px;
}

.history p {
  justify-self: center;
  padding: 0 20px;
}

.adventure, .adventure1 {
  border: 1px solid black;
  display: grid;
  grid-template: 5rem 1fr / repeat(5, 1fr);
  align-items: center;
  background-color: rgba(48, 54, 47, 0.8);
  margin: 20px 0;
  grid-auto-flow: column;
}

.adventure h2, .adventure1 h2 {
  grid-column: 1/6;
  justify-self: center;
  font-size: 40px;
  /* padding: 20px 0; */
}

.adventure img, .adventure1 {
  width: 100%;
  padding: 0 10px 10px;
}

.adventure figcaption, .adventure1 figcaption {
  text-align: center;
  color: #ffc107;
  font-weight: 500;
  font-size: 25px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.heading h1 {
  font-size: 40px;
  margin: 10px 0;
}

.heading p {
  margin: 10px 0;
}

.form {
  display: flex;
  justify-content: start;
  gap: 15rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  flex-wrap: wrap;
 
}

.form1 {
  padding: 0 50px;
}

.form1 h2 {
  margin: 16px 0 5px 0;
  font-size: 50px;
}

.form1 p {
  margin: 5px 0 16px 0;
  font-size: 13px;
}

aside {
padding: 0 10px 10px 10px;
}

aside h2 {
  margin: 16px 0 5px 0;
}

aside p {
  margin: 5px 0 3rem 0;
}

.container1 {
  font-size: 20px;
  font-weight: bold;
}

.container textarea {
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  width: 100%;
  padding: 5px;
  margin: 20px 0;
  background: #eee;
  border-radius: .3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

input[type="text"] {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  background: #eee;
  border-radius: .3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button {
  margin: 25px 0;
  width: 150px;
  height: 40px;
  background: navy;
  border-radius: .5rem;
  color: white;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #009688;
}

.childcontainer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid black;
}

iframe {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.copywrite-container{
 grid-column: 2/3;
 display: flex;
 justify-content: center;
}

@media screen and (max-width: 495px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  nav {
    flex-wrap: wrap;
  }
}
@media (max-width: 797px) {
  .adventure {
    display: block;
  }
  .adventure h2, .history h2 {
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  aside {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .history {
    display: block;

  }
}