:root {
  --text-align: center;
  --background-color: #eee;
  --height: auto;
}

* {
  --margin: 0;
  --padding: 0;
  --box-sizing: border-box;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}


nav a {
  color: white;
  padding: 20px;
  display: block;
  text-decoration: none; 
  font-size: 1.2rem;
  font-weight: 500;
}

/* main {
  max-width: 840px;
} */

h1 {
  color: steelblue;
  padding-bottom: 10px;
  border-bottom: 1px solid steelblue;
}

main img {
  width: 150px;
  height: var(--height);
  border: 1px solid steelblue;
  box-shadow: 0 0 30px gray;
  background-color: var(--background-color);
  float: right;
  margin: 0 0 1rem 8px;
}

p {
  padding: 0;
}

aside {
  width: 18.1rem;
  text-align: var(--text-align);
  position: relative;
  grid-row: 1/2;
}

aside h2 {
  position: absolute;
  top: 0px;
  left: 73px;
  color: #000000;
}

aside img {
  width: 200px;
  height: var(--height);
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

footer {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0,0.1);
  text-align: var(--text-align);
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px #000;
  padding: 1rem;
  background-color: var(--background-color);
  color: #000;
}

.indent {
  padding-left: 2rem;
}

.container1 {
  background-color: steelblue;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.grid {
  display: grid;
  align-items: center;
  /* grid-template-columns: 1fr 1fr; */
}
